<div class="align">
  <!-- {{question.created-at}}  -->
    <h1>  {{question.title | capitalizr}}  </h1><span>by {{question.username}}</span> 
    <br>
    <h3>  {{question.category | capitalizr}}  </h3>
      <br>
    <div class="ans">
      <p><strong style="text-decoration: underline">Pregunta:</strong> {{question.content | capitalizr}}</p>
      <p *ngIf="question.answer !== 'no'"><strong style="text-decoration: underline">Respuesta:</strong> {{question.answer}}</p>
    </div>
    <a *ngIf="user.username === question.username" [routerLink]="['edit']">Editar</a>
    <a *ngIf="user.role === 'LAWYER'" [routerLink]="['edit']">Responder</a>
</div>


<router-outlet></router-outlet>
