

<section *ngIf="user.role === 'USER'">
  <h1>Lo sentimos, solo los abogados pueden subir perfiles</h1>
  <div *ngFor="let lawyer of lawyers">
    {{lawyer.name}}
  </div>
    
    
    
</section>
<section *ngIf="user.role === 'LAWYER'">
    <form>
      <div class="align">
        <!-- <div class="form-group">
              <label for="exampleFormControlInput1">Usuario asociado:</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="lawyer.username" id="exampleFormControlInput1" placeholder="{{user.username}}">
        </div> -->
        <div class="form-group">
            <label for="exampleFormControlInput1">Tu nombre:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="lawyer.name" id="exampleFormControlInput1" placeholder="Nombre">
        </div>
        <div>
          <label for="inputfile">Tu foto de perfil</label>
          <input class="inputfile" type="file" #image name="image" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Tu correo de trabajo:</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="lawyer.email" id="exampleFormControlInput1" placeholder="nombre@bufete.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Educación:</label>
            <input type="text" class="form-control" name="education" [(ngModel)]="lawyer.education" id="exampleFormControlInput1" placeholder="Harvard">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Bufete:</label>
            <input type="text" class="form-control" name="bufete" [(ngModel)]="lawyer.bufete" id="exampleFormControlInput1" placeholder="Opcional">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">¿Qué tipo de derecho requires?</label>
          <select class="form-control" name="category" [(ngModel)]="lawyer.category" id="exampleFormControlSelect1">
            <option value="nose">No sé</option>
            <option value="familiar">Familiar</option>
            <option value="admin">Administrativo</option>
            <option value="mercantil">Mercantil</option>
            <option value="laboral">Laboral</option>
            <option value="penal">Penal</option>
            <option value="fiscal">Fiscal</option>
            <option value="consti">Constitucional</option>
            <option value="ip">Propiedad Intelectual</option>
            <option value="registro">Registro de Propiedades/Mercantil</option>
            <option value="urban">Urbanismo</option>
            <option value="europeo">Europeo</option>
            <option value="otro">Otro</option>
           
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Un poco sobre ti:</label>
          <textarea [(ngModel)]="lawyer.bio" class="form-control" name="bio" id="exampleFormControlTextarea1" rows="3"></textarea>
          <!-- <textarea [(ngModel)]="question.answer"  class="form-control" name="answer" id="exampleFormControlTextarea1" rows="3"></textarea> -->
        </div>
        <button (click)="makeLawyer()">in for me</button>
      </div> 
      </form>
</section>
