<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


    <nav class="navbar navbar-expand-lg navbar-light ">
      <img (click)="home()" src="../assets/small-logo.png" width="30" height="30" alt="">


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="!user" class="explr nav-item active">
                <a class="nav-link" [routerLink]="['explore']">Explora por abogado <span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="!user" class="explr nav-item active">
                <a class="nav-link" [routerLink]="['lawyer']">¿Eres abogado? <span class="sr-only">(current)</span></a>
            </li>
            <li style="margin-left:10px" class="explr nav-item active">
                <a class="nav-link" [routerLink]="['ramas']">Preguntas Frecuentes <span class="sr-only">(current)</span></a>
            </li>
            <li class="mrleft explr nav-item active">
                <!-- <a (click)="logout()" class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a> -->
            </li>
            
            
            
        
          <li class="mrsleft dwn nav-item dropdown">
              <ngbd-dropdown-basic></ngbd-dropdown-basic>
          </li>
        
        </ul>
      
      </div>
    </nav>


    <router-outlet></router-outlet>

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>
