<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light ">
  <img src="../assets/small-logo.png" width="30" height="30" alt="">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="explr nav-item active">
            <a class="nav-link" href="#">Explora por abogado <span class="sr-only">(current)</span></a>
        </li>
        <li class="explr nav-item active">
            <a class="nav-link" href="#">¿Eres abogado? <span class="sr-only">(current)</span></a>
        </li>
        <li class="explr nav-item active">
            <a (click)="logout()" class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
        </li>
        
        
        
     
      <li class="dwn nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
          Dropdown
        </a>
        <div class="dropdown-menu" href="#" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['profile']">Profile</a>
          <a class="dropdown-item" href="#" [routerLink]="['home']">Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['logout']">Log out</a>
        </div>
      </li>
    
    </ul>
   
  </div>
</nav>


<router-outlet></router-outlet>

<footer></footer>


