body {
  margin:0 auto;
  padding:0 auto;
  font-family: 'Karla', sans-serif;
}
 
.navbar {
  background-color:none;
  border-bottom:1px solid black;
  width:100vw;
  height:57px;
  box-shadow: 1px 1px 10px 1px black;
}
.navbar img {
  border-radius:5%;
}
.lft {
  margin-left:5%;
}

/* .mrleft {
  padding-left:20%;
} */

.mrsleft {
  position:absolute;
  right:5%;
  top:10%;
}


  

