<section *ngIf="user.role === 'USER'">
    <h1>Hola, {{user.username}}</h1>
    <h1 style="text-align:center;color:black;padding-top:20px;">Haz una pregunta a un abogado especializado:</h1>
    <hr>
   
    <ngbd-modal-options></ngbd-modal-options>
  
  </section>
  
  
  
  
  
  <section *ngIf="user.role === 'LAWYER'">
      <h1>Hola, {{user.username}}</h1>
      <h1 style="text-align:center;color:black;padding-top:20px;">Busca preguntas por tu especialización:</h1>
    <hr>
    <div class="btnz">
        
        <button type="button" class="btn btn-outline-dark">Familiar</button>
        <button type="button" class="btn btn-outline-dark">Administrativo</button>
        <button type="button" class="btn btn-outline-dark">Mercantil</button>
        <button type="button" class="btn btn-outline-dark">Laboral</button>
        <button type="button" class="btn btn-outline-dark">Penal</button>
        <!-- <button type="button" class="btn btn-outline-dark"></button> -->
        <button type="button" class="btn btn-outline-dark">Fiscal</button>
        <button type="button" class="btn btn-outline-dark">Constitucional</button>
        <button type="button" class="btn btn-outline-dark">Propiedad Intelectual</button>
        <button type="button" class="btn btn-outline-dark">Registro de Propiedades/Mercantil</button>
        <button type="button" class="btn btn-outline-dark">Urbanismo</button>
        <button type="button" class="btn btn-outline-dark">Europeo</button>
        <button type="button" class="btn btn-outline-dark">Otro</button>



    </div>
  
    
    
    </section>