
<section>



  <form>
      <div class="align">
        <img src="../assets/medium-logo.png">
        <div class="f1 form-group">
          <label for="exampleInputEmail1">Tu correo</label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre@ejemplo.com">
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su información.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Tu usuario</label>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Así será referido">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <small id="emailHelp" class="form-text text-muted">Mínimo 5 carácteres</small>
        </div>
        <!-- <div>
            <label for="inputfile">Tu foto de perfil</label>
            <input class="inputfile" type="file" #image name="image" >
        </div> -->
        <label for="exampleFormControlSelect1">Que tipo de usuario serás?</label>
        <div style="width:40%;">
            <select [(ngModel)]="role" class="form-control" id="exampleFormControlSelect1">
                <option value="USER">Client</option>
                <option value="LAWYER">Lawyer</option>
              </select>
        </div>
        <button type="submit" (click)="signup()"class="btn">Registrarte</button>
      </div>
    </form>

</section>
