<h2>Hola {{user.username}}</h2>

<h5>Eres un {{user.role}}</h5>

  <section *ngIf="user.role === 'USER'">    
    <div *ngFor="let q of questions">
        <h1>{{q.title}}</h1>
        <p>{{q.category}}</p>
        <a [routerLink]="['/ramas', q._id]">Ver pregunta completa</a>
    </div>
  </section>

  <section *ngIf="user.role === 'LAWYER'">    
      <div *ngFor="let q of questions">
          <h1>{{q.title}}</h1>
          <p>{{q.category}}</p>
         <a [routerLink]="['/ramas', q._id]">Ver pregunta completa</a>
      </div>
    </section>


<!-- *ngIf="q.category === 'nose'" -->

<!-- <section *ngIf="user.role === 'LAWYER'">
    <div *ngFor="let q of questions">
      <h3>Solo que ahora eres abogado</h3>
        <h1>{{q.title}}</h1>
        <p>{{q.category}}</p>
        <button></button>
      
    </div>
</section> -->