section {
  background-color:whitesmoke;
  margin-right:40px;
  margin-left:40px;
  /* margin-top:-150px;
  padding-top:150px; */
}

.question-box {
  transition: box-shadow .2s;
  border:1px solid #777;
  border-radius:5px;
  text-align: center;
  margin:20px;
  padding:20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
 
}
.question-box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.qbox {
  width:45%;
  margin-right:30px;
}

.organize {
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top:50px;
  padding-top:50px;

}

.aligner{
  display:flex;
  justify-content: center;
  margin-top:50px;
}

i {
  color:red;
}

/* section a {
  color:green;
} */

.qbox h3 {
  color:black;
  text-decoration: underline;
}

h1 {
  text-align:center;
  margin-top:30px;
  border-bottom:2px dotted black;
 
}