<section *ngIf="user.role === 'USER'">
  <h1>Hola, {{user.username}}</h1>
  <div>

   <p> Preguntas: 4</p>
    <p>Puntuación: 50</p>

  </div>
  <div>
    <ngbd-modal-options></ngbd-modal-options>
    <button><a [routerLink]="['/explore']" style="color:black">Explora por abogados especializados</a></button>
  </div>


</section>





<section *ngIf="user.role === 'LAWYER'">
    <h1>Hola, {{user.username}}</h1>
    <div>
  
     <p> Preguntas respondidas: 4</p>
      <p>Puntuación: 4.3/5</p>
  
    </div>
    <div>
      <button> Tus preguntas</button>
      <button> Explorar preguntas</button>
    </div>
  
  
  </section>
  
  

<!-- usa ngIF para separar -->
