<section *ngIf="user.role === 'USER'">
 
 <div class="flex">
    <div>
        <h1>Hola, {{user.username}}</h1>


        <p> Preguntas: 4</p>
         <p>Puntuación: 50</p>
     
       </div>
       <div class="box">
         <ngbd-modal-options></ngbd-modal-options>
         <button><a [routerLink]="['/explore']" style="color:black">Explora por abogados especializados</a></button>
       </div>
 </div>
 <div class="pos">
   <h2>Tus preguntas</h2>
        <div *ngFor="let q of questions">
          <div *ngIf="user.username === q.username">
            <p>{{q.title}}</p>
          </div>
        </div>
   
 </div>


</section>





<section *ngIf="user.role === 'LAWYER'">
    <h1>Hola, {{user.username}}</h1>
    <div>
  
     <p> Preguntas respondidas: 4</p>
      <p>Puntuación: 4.3/5</p>
  
    </div>
    <div>
      <button> Tus preguntas</button>
      <button> Explorar preguntas</button>
    </div>
  
  
  </section>
  
  

<!-- usa ngIF para separar -->
