body{
  height:100vh;
}
.flex {
  display:flex;
  flex-direction: row;
}

.box {
  margin-left:50%;
}

.pos {
  text-align:center;
  margin-top:50px;
}
.cnt{
 width:100vw;
 
}

h1 {
  border-bottom:2px dotted black;
}

.cntr {
  margin-top:50px;
  margin-right:0px;
 width:40%;
  text-align:center;
 
}
.lft {
  text-align:left;
  margin:50px;
 
}
.rte {
  /* margin:70px; */
  margin-top:50px;
  margin-left:30px;

}

.answers {
  margin-top:30px;
  display:flex;
  align-items: center;
  flex-direction:column-reverse;
}
.question-box {
  border:1px solid black;
  border-radius:5px;
  text-align: center;
  margin:20px;
  padding:20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.qbox {
  width:45%;
}
.rte a {
  color:white;
}
i{
  color:green;
}

img {
  margin-top:30px;
  border-radius:50%;
  width:40%;
}

p i {
  color:#F9A602;
}

.lfty {
  position:absolute;
  top:45px;
  right:6%;

}
.lfty a {
  color:white;
}

.wdn {
  /* margin-top:50px;
  margin-right:30px;
  width:300px; */
}
