<h1 *ngIf="user">Hola {{user.username}}</h1>

<section >
  <!-- <div >
        <h2>Inicia sesión</h2>
        <input placeholder="email" [(ngModel)]="auth.email" type="text">
        <br>
        <input placeholder="tu password" [(ngModel)]="auth.password"  type="password">
        <button (click)="login()" >Entrar</button>
        <p>No tienes cuenta? <span (click)="login=!login" >Click aquí</span></p>
      </div>
       -->
      <!-- <div *ngIf="!isLogged">
        <h2>Registrate</h2>
        <input [(ngModel)]="auth.username" placeholder="username" type="text">
        <input placeholder="email" [(ngModel)]="auth.email" type="text">
        <br>
        <input placeholder="tu password" [(ngModel)]="auth.password"  type="password">
        <button (click)="signup()" >Registrarme</button>
        <p>Ya tienes cuenta? <span (click)="login=!login" >Click aquí</span></p>
      </div> -->
      <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" [(ngModel)]="auth.email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" [(ngModel)]="auth.password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">No cerrar sesión</label>
          </div>
          <button type="submit" (click)="login()"class="btn">Entrar</button>
        </form>
     
      
</section>